@using MKTListNet.Areas.Admin.Models;
@model EmailListModel

@{
}

@if (Model != null && !string.IsNullOrEmpty(Model.ViewMSG))
{
    <div class="mx-2 my-1 alert alert-warning alert-dismissible fade show" role="alert">
        <span>@Model.ViewMSG</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid">
    <div class="row border rounded mx-2 mt-2 pb-1 bg-light align-items-center">
        <div class="h4">
            Lista de Emails
            <hr class="my-2" />
        </div>
        <div class="col">
            <form action="EmailList">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search" autocomplete="off" value="@ViewBag.Search" autofocus aria-label="Search" aria-describedby="Search list">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
        <div class="col">
            <div class=" p-1 text-center">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddListModal">Criar Lista</a>
            </div>
        </div>
    </div>

    <div class="row mx-2 mt-2 align-items-center">
        @if (Model == null || Model?.EmailLists?.Count() < 1)
        {
            <p class="h4 p-4">Não existe listas cadastradas!</p>
        }
        else
        {
            <div class="col-7 p-0">
                <table class="table rounded">
                    <thead>
                        <tr class="bg-light">
                            <th class="rounded" scope="row">
                                <div class="col">Id</div>
                            </th>
                            <th class="rounded" scope="row">
                                <div class="row justify-content-around">
                                    <div class="col">Nome</div>
                                    <div class="col-auto ms-auto fw-light small"> Total: @Model?.EmailLists?.Count().ToString("N0")</div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model?.EmailLists!)
                        {
                            <tr>
                                <td>
                                    @item.id
                                </td>
                                <td>
                                    @item.Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AddListModalLabel">Criar Lista</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="NewList" asp-controller="EmailList" asp-area="Admin" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <label for="ipNewList" class="form-label">Digite o nome da lista</label>
                        <input type="text" class="form-control" name="newList" id="ipNewList">
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-primary">Criar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br />
</div>
